body {
	font-family: 'Lato', sans-serif;
	background-color: #f9f9f9;
}
.clear {clear: both;}
a {
	color: #444;
	text-decoration: none;
}

#loading {
	position: fixed;
	z-index: 999999999999999999999999999;
	width: 100%;
	height:100%;
	background-color: #f8f8f8;
	color: #000; 
}

.pagination {
	text-align: center;
	margin-top: 20px;

	li {
		display: inline-block;
		padding: 10px 12px 10px 12px;
		background-color: white;
		border: 1px solid #ddd;
		border-radius: 3px;
	}
	li:hover {
		background-color: #0088e8;
		color: white !important; 
		border-color: #0088e8;
	}
	li:hover a {
		color: white;
	}
}

.btn1 {
	background-color: #0088e8;
	padding: 8px 12px 8px 12px;
	color: white;
	box-sizing: border-box;
	display: inline-block;
	border-radius: 3px;
	border:none;
	font-size: 16px;
}
.btn1:hover {
	opacity: .9;
}

header {
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #eee;
	overflow: hidden;
	padding: 0px 20px 0px 20px;
	box-sizing: border-box;
	background-color: white;
	position: fixed;
	overflow: hidden;
	z-index: 9999;

	.logo {
		text-align: left;
		line-height: 70px;
		float: left;
		font-size: 17px;
		text-transform: uppercase;
		font-weight: 600;
	}

	.navigate {
		float: right;

		li {
			line-height: 70px;
			font-weight: 300;
		}
	}
}

aside {
	float: left;
	width: 20%;
	background-color: #ccc;
	position: fixed;
	height: 100%;
	background-image: url('../img/admin/sidebar.jpg');
	background-size: cover;
	background-position: center;
	top: 70px;

	ul {
		width: 90%;
		margin: 0 auto;
		padding-top: 10px;

		li {
			padding: 12px;
			width: 100%;
			border-radius: 4px;
			background-color: rgba(255,255,255,.1);
			box-sizing:border-box;
			color: white;
			font-weight: 300;
			margin-top: 8px;
		}

		li:hover {
			background-color: rgba(255,255,255,.2);
		}
	}
}

#admin-panel-body {
	float: right;
	width: 80%;
	padding: 100px 40px 40px 40px;
	box-sizing: border-box;

	h1 {
		font-size: 30px;
		font-weight: 300;

	}

	#btns {
		margin: 15px 0px 15px 0px;
	}


	// tablas de muestra
	.tg  {
		border-collapse:collapse;
		border-spacing:0;
		border-color:#999;
		width: 100%;


		
	}


	.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;  padding-left: 10px; box-sizing: border-box; line-height: 25px;}
	.tg td figure {height: 40px; width: 40px; overflow: hidden;}
	.tg td figure img {width: 100%;}
	.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4; text-align: left; padding-left: 10px; box-sizing: border-box}
	.tg .tg-us36{border-color:inherit;vertical-align:top}
	.tg .edit, .tg .delete {
		font-size: 18px;
		height: 25px;
		width: 25px;
		border:1px solid;
		line-height: 25px;
		display: inline-block;
	}
	.tg .edit {color: green; border-color: green; }
	.tg .delete {color: red; margin-left: 5px; border-color: red }

	.photos {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-flow: row wrap;
				
		li {
			flex: 1;
			flex-basis: calc(25% - 20px);
			max-width: calc(25% - 20px);
			height: 250px;
			vertical-align: top;
			margin: 20px 10px 20px 10px;
			overflow: hidden;
			position: relative;
			background-color: white;
			border:1px solid #ddd;
			box-sizing: border-box;
			

			figure {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;

				img {
					height: 100%;
				}

			}

			section {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba($color: #0088e8, $alpha: 0.8);
				transition: .3s;
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 99;
				top: 0px;
				left: 0px;
				transform: scale(0.0);
				opacity: 0;

				i {
					color: white;
					font-size: 40px;
					border: 2px solid transparent;
					width: 70px;
					height: 70px;
					text-align: center;
					line-height: 70px;
					border-radius: 1000px;
					transform: scale(0.8);
					transition: .3s;
					

				}
				i:hover {
					transform: scale(1.0);
					transition: .3s;
					border-color: white;
				}
			}
			
		}
		li:hover > section {
			transform: scale(1.0);
			transition: .3s;
			opacity: 1;
		}
		
	}

	// Create products
	form {
		margin-top: 20px;
		
		label {
			input, select, textarea {
				width: 100%;
				display: block;
				padding: 10px;
				box-sizing: border-box;
				border: none;
				border: 1px solid #ddd;
				border-radius: 3px;
				margin: 5px 0px 10px 0px;
				background-color: white;
			}
			textarea {
				min-height: 230px;
				resize: none;
			}
			figure {
				height: 150px;
				width: 150px;
				overflow: hidden;
				background-color: #fff;
				border:1px solid #ddd;
				border-radius: 3px;
				margin-bottom: 10px;
				margin-top: 10px;
				display: flex;
				justify-content: center;
				align-items: center;	

				img {
					width: 100%;
				}
			}
		}

		button {
			margin-top: 10px;
		}
	}


}


.spinner {
	width: 80px;
	height: 80px;
	background-color: #00aee7;
	position: absolute;
	top: 50%;
	margin-top: -40px;
	left: 50%;
	margin-left: -40px;

	-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
	animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}