body {
  font-family: 'Roboto'; }

#construccion {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -150px;
  text-align: center; }
  #construccion h2 {
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px; }

#loading {
  position: fixed;
  z-index: 999999999999999999999999999;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center; }
  #loading img {
    animation: scale 1.7s linear infinite;
    height: 100px;
    opacity: .2; }
@keyframes scale {
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1; } }
.content {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%; }
  @media (max-width: 1250px) {
    .content {
      max-width: 90%; } }

.points-bar {
  color: #ff0100;
  font-size: 70px;
  text-align: center;
  letter-spacing: 3px;
  margin-top: -35px;
  margin-bottom: 30px; }

h2 {
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase; }

#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0); }

#cboxWrapper {
  max-width: none; }

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%; }

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left; }

#cboxContent {
  position: relative; }

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

#cboxTitle {
  margin: 0; }

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer; }

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic; }

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0; }

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; }

#cboxOverlay {
  background: #000;
  opacity: 0.9;
  filter: alpha(opacity=90); }

.iframebody iframe {
  width: 100%;
  max-width: 700px;
  height: 340px;
  overflow: hidden;
  background-color: black; }
.iframebody iframe:focus {
  outline: none; }

.buttons {
  margin: 40px 0px 0px 0px; }
  .buttons a {
    text-decoration: none; }
  .buttons .boton {
    margin: 0px 10px 0px 10px;
    background-color: #ff0100;
    display: inline-block;
    padding: 15px 20px 15px 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    transition: .3s; }
    @media (max-width: 350px) {
      .buttons .boton {
        display: block;
        margin-top: 10px; } }
  .buttons .boton:hover {
    background-color: black;
    transition: .3s; }

footer #footer-content {
  background-color: #212121;
  padding: 30px 0px 30px 0px;
  color: #9e9e9e; }
  footer #footer-content .content {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 930px) {
      footer #footer-content .content {
        display: block; } }
  footer #footer-content .about {
    max-width: 450px; }
    footer #footer-content .about img {
      height: 80px; }
    footer #footer-content .about p {
      margin-top: 10px;
      font-size: 13px;
      font-weight: 300;
      text-align: justify;
      line-height: 19px; }
    @media (max-width: 930px) {
      footer #footer-content .about {
        max-width: 100%;
        margin-top: 20px;
        text-align: center; }
        footer #footer-content .about p {
          text-align: left; } }
  footer #footer-content .links {
    max-width: 250px; }
    footer #footer-content .links h3 {
      color: white;
      font-weight: 700; }
    footer #footer-content .links ul li {
      margin-top: 10px; }
      footer #footer-content .links ul li a {
        color: #9e9e9e;
        text-decoration: none;
        font-size: 12px; }
    @media (max-width: 930px) {
      footer #footer-content .links {
        max-width: 100%;
        margin-top: 20px; } }
  footer #footer-content .contact {
    max-width: 350px; }
    footer #footer-content .contact h3 {
      color: white;
      font-weight: 700; }
    footer #footer-content .contact ul li {
      margin-top: 10px;
      color: #9e9e9e;
      text-decoration: none;
      font-size: 12px; }
    @media (max-width: 930px) {
      footer #footer-content .contact {
        max-width: 100%;
        margin-top: 20px; } }
footer #footer-copy {
  height: 100px;
  background-color: #151515;
  display: flex;
  justify-content: space-between; }
  footer #footer-copy .content {
    display: flex;
    justify-content: space-between; }
  footer #footer-copy p {
    line-height: 100px;
    color: #616161;
    font-size: 13px; }
  footer #footer-copy ul li {
    display: inline-block;
    margin-right: 20px; }
    footer #footer-copy ul li i {
      line-height: 100px;
      font-size: 18px;
      color: #616161; }
  @media (max-width: 400px) {
    footer #footer-copy {
      display: none; } }

header {
  height: 80px; }
  header nav {
    background-color: white;
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 99999;
    transition: .3s; }
    header nav .content {
      overflow: hidden; }
      header nav .content .boton-responsive {
        display: none;
        float: right;
        cursor: pointer; }
        header nav .content .boton-responsive .b {
          line-height: 80px;
          font-size: 33px;
          transition: .3s; }
        @media (max-width: 900px) {
          header nav .content .boton-responsive {
            display: block; } }
      header nav .content .menu-responsive {
        display: none;
        position: fixed;
        width: 100%;
        top: 80px;
        left: 0px;
        background-color: #000;
        color: white;
        text-align: center;
        padding: 20px 0px 20px 0px;
        transition: .3s; }
        header nav .content .menu-responsive a {
          color: white;
          text-decoration: none; }
        header nav .content .menu-responsive li {
          display: block;
          padding: 15px 0px 15px 0px; }
        header nav .content .menu-responsive li:active {
          background-color: #ff0100;
          color: white; }
      header nav .content .menu-no-responsive {
        float: right; }
        header nav .content .menu-no-responsive a {
          text-decoration: none;
          color: black; }
        header nav .content .menu-no-responsive a:hover {
          color: #ff0100; }
        header nav .content .menu-no-responsive li {
          display: inline-block;
          margin-right: 20px;
          text-transform: uppercase;
          font-weight: 800;
          font-size: 14px;
          line-height: 80px;
          position: relative;
          transition: .3s;
          color: black !important; }
          header nav .content .menu-no-responsive li ul {
            position: fixed;
            background-color: black;
            z-index: 999;
            line-height: normal;
            padding: 10px 20px 20px 20px;
            box-sizing: border-box;
            display: none;
            box-shadow: 0px 0px 22px 1px rgba(0, 0, 0, 0.45); }
            header nav .content .menu-no-responsive li ul li {
              display: block;
              color: white !important;
              line-height: normal;
              padding-top: 10px;
              transition: .3s; }
            header nav .content .menu-no-responsive li ul li:hover {
              color: #ff0100 !important;
              transition: .3s; }
        header nav .content .menu-no-responsive li:hover {
          color: #ff0100 !important;
          transition: .3s; }
        header nav .content .menu-no-responsive li:hover > ul {
          display: block; }
        @media (max-width: 900px) {
          header nav .content .menu-no-responsive {
            display: none; } }
      header nav .content .logo {
        float: left;
        margin-top: 5px;
        height: 70px;
        transition: .3s; }

.navEffect {
  height: 60px !important;
  transition: .3s;
  border-bottom: 1px solid #e1e1e1; }

.logoEffect {
  height: 50px !important;
  transition: .3s; }

.menuEffect {
  line-height: 60px !important;
  transition: .3s; }

.ef {
  top: 60px !important;
  transition: .3s; }

.bi {
  line-height: 60px !important;
  transition: .3s; }

#banner-index {
  background-color: #333; }

#banner-section {
  background-color: #333;
  padding: 70px 0px 70px 0px;
  background-image: url("../img/header-bf.jpg");
  background-size: cover;
  background-position: bottom; }
  #banner-section h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 45px; }

#who-i-am {
  border-top: 2px solid #dee7ea;
  padding: 80px 0px 80px 0px;
  text-align: center; }
  #who-i-am .redes {
    margin-top: 10px; }
    #who-i-am .redes li {
      display: inline-block;
      background-color: #ff0100;
      height: 30px;
      width: 30px;
      text-align: center;
      border-radius: 100px;
      margin: 0px 3px 0px 3px;
      transition: .3s;
      color: white; }
      #who-i-am .redes li i {
        line-height: 30px; }
    #who-i-am .redes li:hover {
      background-color: black;
      transition: .3s; }
  #who-i-am h3 {
    font-size: 32px;
    font-weight: 600; }
  #who-i-am h4 {
    font-size: 22px;
    font-weight: 300;
    margin-top: 10px; }
  #who-i-am .text {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 30px; }
    #who-i-am .text p {
      max-width: 48%;
      line-height: 25px;
      text-align: justify;
      font-weight: 300; }
    @media (max-width: 500px) {
      #who-i-am .text {
        display: block; }
        #who-i-am .text p {
          max-width: 100%;
          text-align: justify; } }

#recent-projects {
  background-image: url("../img/proyects-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 0px 100px 0px;
  text-align: center; }
  #recent-projects .b {
    background-color: #ff0100;
    display: inline-block;
    padding: 25px 40px 25px 40px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    transition: .3s;
    margin-top: 20px; }
  #recent-projects .b:hover {
    background-color: black;
    transition: .3s; }
  #recent-projects h2 {
    color: white; }
  #recent-projects .gallery {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    #recent-projects .gallery li {
      width: 100%;
      max-width: 32.5%;
      height: 385px;
      background-color: white;
      overflow: hidden;
      text-align: center;
      position: relative;
      text-align: center; }
      #recent-projects .gallery li img {
        height: 100%;
        min-width: 100%;
        z-index: 2;
        height: 100%;
        text-align: center; }
      #recent-projects .gallery li .cn {
        opacity: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgba(255, 1, 0, 0.5);
        z-index: 5;
        width: 100%;
        height: 100%;
        transition: .3s;
        display: flex;
        align-items: center; }
        #recent-projects .gallery li .cn section {
          color: white;
          text-align: left;
          margin-left: 40px;
          max-width: calc(90% - 40px);
          border-top: 2px solid white;
          padding-top: 30px; }
          #recent-projects .gallery li .cn section h3 {
            text-transform: uppercase;
            font-weight: 900;
            font-size: 25px; }
          #recent-projects .gallery li .cn section h4 {
            font-weight: 300;
            font-size: 22px; }
          #recent-projects .gallery li .cn section .boton {
            background-color: #ff0100;
            display: inline-block;
            padding: 25px 40px 25px 40px;
            color: white;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
            transition: .3s;
            margin-top: 20px; }
          #recent-projects .gallery li .cn section .boton:hover {
            background-color: black;
            transition: .3s; }
          @media (max-width: 1000px) {
            #recent-projects .gallery li .cn section {
              margin-left: 20px; }
              #recent-projects .gallery li .cn section h3 {
                font-size: 20px; }
              #recent-projects .gallery li .cn section .boton {
                padding: 15px 20px 15px 20px;
                font-size: 10px; } }
        @media (max-width: 600px) {
          #recent-projects .gallery li .cn {
            opacity: 1; } }
      @media (max-width: 1000px) {
        #recent-projects .gallery li {
          height: auto; } }
      @media (max-width: 600px) {
        #recent-projects .gallery li {
          max-width: 100%;
          margin: 0px;
          margin-top: 10px; } }
    @media (max-width: 600px) {
      #recent-projects .gallery {
        display: block; } }
    #recent-projects .gallery li:hover > .cn {
      opacity: 1;
      transition: .3s; }
    @media (max-width: 1450px) {
      #recent-projects .gallery {
        max-width: 98%; } }

#contact {
  overflow: hidden;
  padding: 100px 0px 100px 0px; }
  #contact .info {
    float: left;
    width: 30%; }
    #contact .info ul li {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 30px; }
      #contact .info ul li i {
        min-width: 100px;
        font-size: 50px;
        color: #ff0100;
        text-align: center; }
      #contact .info ul li div p {
        font-weight: 300;
        font-size: 18px; }
      #contact .info ul li div h3 {
        font-size: 25px;
        font-weight: 900;
        margin-top: 10px; }
  #contact form {
    width: 60%;
    float: right; }
    #contact form div {
      display: flex;
      justify-content: space-between; }
      #contact form div input {
        width: calc(50% - 10px);
        border: none;
        border: 2px solid black;
        padding: 20px;
        box-sizing: border-box;
        display: block;
        font-size: 18px;
        font-weight: 300; }
    #contact form textarea {
      width: 100%;
      border: 2px solid black;
      padding: 15px;
      box-sizing: border-box;
      display: block;
      margin-top: 20px;
      min-height: 190px;
      font-size: 18px;
      font-family: 'Roboto';
      font-weight: 300; }
    #contact form .boton {
      background-color: #ff0100;
      display: inline-block;
      padding: 25px 70px 25px 70px;
      color: white;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      transition: .3s;
      margin-top: 20px;
      float: right; }
    #contact form .boton:hover {
      background-color: black;
      transition: .3s; }

#about #values {
  background-color: #333;
  background-image: url("../img/bg2.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 0px 100px 0px; }
  #about #values h2 {
    color: white; }
  #about #values ul {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap; }
    #about #values ul li {
      flex: 1;
      flex-basis: calc(33% - 20px);
      max-width: calc(33% - 20px);
      vertical-align: top;
      background-color: white;
      padding: 40px;
      box-sizing: border-box;
      margin: 10px;
      text-align: center;
      transition: .3s; }
      #about #values ul li i {
        background-color: #ff0000;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: white;
        border-radius: 100px;
        font-size: 20px;
        margin: 0 auto;
        transition: .8s; }
      #about #values ul li h3 {
        margin: 15px 0px 20px 0px;
        font-size: 22px;
        font-weight: 300;
        transition: .8s; }
      #about #values ul li p {
        text-align: justify;
        font-size: 13px;
        line-height: 20px; }
    #about #values ul li:hover {
      transform: scale(1.02);
      transition: .3s; }
    #about #values ul li:hover > i {
      transform: scale(1.3);
      transition: .8s; }
    #about #values ul li:hover > h3 {
      padding-top: 20px;
      transition: .8s; }
    @media (max-width: 1000px) {
      #about #values ul {
        display: block; }
        #about #values ul li {
          max-width: 100%;
          margin: 0px;
          margin-top: 10px; } }
#about #facts {
  padding: 100px 0px 100px 0px; }
  #about #facts article {
    text-align: center;
    border-bottom: 1px solid #eee;
    padding: 30px 0px 30px 0px; }
    #about #facts article h3 {
      font-weight: 300;
      font-size: 22px;
      margin-bottom: 30px; }
    #about #facts article .pais {
      display: flex;
      flex-direction: row;
      flex-flow: row wrap;
      justify-content: center; }
      #about #facts article .pais li {
        flex: 1;
        flex-basis: calc(10% - 20px);
        max-width: calc(10% - 20px);
        vertical-align: top;
        margin: 20px 10px 20px 10px; }
        #about #facts article .pais li h4 {
          margin-top: 10px;
          font-weight: 300;
          font-size: 13px; }
        #about #facts article .pais li img {
          border-radius: 1000px;
          height: 70px; }
  @media (max-width: 500px) {
    #about #facts .industry img {
      width: 100%; } }
  @media (max-width: 1000px) {
    #about #facts .paises .pais li {
      flex-basis: calc(25% - 20px);
      max-width: calc(25% - 20px); } }
  @media (max-width: 440px) {
    #about #facts .paises .pais li {
      flex-basis: calc(50% - 20px);
      max-width: calc(50% - 20px); } }
  @media (max-width: 770px) {
    #about #facts .tv-commercials img, #about #facts .reality img, #about #facts .sports img {
      width: 100%; } }
#about #certificates {
  background-image: url("../img/bg2.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 70px 0px 70px 0px;
  text-align: center; }
  #about #certificates h2 {
    color: white; }
  #about #certificates .boton {
    background-color: #ff0100;
    display: inline-block;
    padding: 25px 40px 25px 40px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    transition: .3s;
    margin-top: 20px; }
  #about #certificates .boton:hover {
    background-color: black;
    transition: .3s; }

#reel {
  background-color: black;
  background-image: url("../img/placa.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 100px 0px 100px 0px; }
  #reel #categories {
    text-align: center; }
    #reel #categories li {
      display: inline-block;
      margin: 0px 10px 0px 10px;
      color: white;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 20px;
      padding: 10px;
      box-sizing: border-box;
      cursor: pointer; }
    #reel #categories li:hover {
      background-color: #ff0100; }
    #reel #categories .active {
      background-color: #ff0100; }
  #reel #reel-ul {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin-top: 70px; }
    #reel #reel-ul a {
      flex: 1;
      flex-basis: calc(33.3% - 20px);
      max-width: calc(33.3% - 20px);
      height: 385px;
      background-color: white;
      margin: 10px; }
      #reel #reel-ul a li {
        position: relative; }
        #reel #reel-ul a li figure {
          overflow: hidden;
          display: flex;
          justify-content: center; }
          #reel #reel-ul a li figure img {
            height: 100%; }
        #reel #reel-ul a li .cn {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 1, 0, 0.8);
          opacity: 0;
          transition: .3s;
          transform: scale(0); }
          #reel #reel-ul a li .cn section {
            height: 100%;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center; }
            #reel #reel-ul a li .cn section h3 {
              color: white;
              font-size: 23px;
              text-transform: uppercase;
              font-weight: 600;
              border: 2px solid white;
              padding: 20px;
              box-sizing: border-box;
              max-width: 90%;
              text-align: center; }
    #reel #reel-ul li:hover > .cn {
      opacity: 1;
      transition: .3s;
      transform: scale(1); }

#gallery {
  background-color: black;
  padding: 100px 0px 100px 0px; }
  #gallery #gallery-ul {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap; }
    #gallery #gallery-ul a {
      flex: 1;
      flex-basis: calc(25% - 20px);
      max-width: calc(25% - 20px);
      height: 300px;
      background-color: white;
      margin: 10px;
      text-decoration: none; }
      #gallery #gallery-ul a li {
        position: relative;
        background-color: #ff0100; }
        #gallery #gallery-ul a li section {
          height: 100%;
          box-sizing: border-box;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center; }
          #gallery #gallery-ul a li section h3 {
            color: white;
            font-size: 23px;
            text-transform: uppercase;
            font-weight: 600;
            border: 2px solid transparent;
            padding: 10px;
            box-sizing: border-box;
            max-width: 90%;
            text-align: center;
            transition: .3s;
            width: 80%;
            height: 80%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center; }
      #gallery #gallery-ul a li:hover > section h3 {
        border-color: white;
        transform: scale(1.1);
        transition: .3s; }

#gallery-view {
  padding: 100px 0px 100px 0px; }
  #gallery-view .photos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap; }
    #gallery-view .photos li {
      flex: 1;
      flex-basis: calc(25% - 20px);
      max-width: calc(25% - 20px);
      height: 250px;
      vertical-align: top;
      margin: 20px 10px 20px 10px;
      overflow: hidden;
      position: relative;
      background-color: white;
      border: 1px solid #ddd;
      box-sizing: border-box; }
      #gallery-view .photos li figure {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center; }
        #gallery-view .photos li figure img {
          height: 100%; }
      #gallery-view .photos li section {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 1, 0, 0.8);
        transition: .3s;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99;
        top: 0px;
        left: 0px;
        transform: scale(0);
        opacity: 0; }
        #gallery-view .photos li section i {
          color: white;
          font-size: 40px;
          border: 2px solid transparent;
          width: 70px;
          height: 70px;
          text-align: center;
          line-height: 70px;
          border-radius: 1000px;
          transform: scale(0.6);
          transition: .3s; }
        #gallery-view .photos li section i:hover {
          transform: scale(0.8);
          transition: .3s;
          border-color: white; }
    #gallery-view .photos li:hover > section {
      transform: scale(1);
      transition: .3s;
      opacity: 1; }

.pagination {
  text-align: center;
  margin-top: 20px; }
  .pagination li {
    display: inline-block;
    padding: 10px 12px 10px 12px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 3px; }
    .pagination li a {
      color: #333;
      text-decoration: none; }
  .pagination li:hover {
    background-color: #ff0100;
    color: white !important;
    border-color: #ff0100; }
  .pagination li:hover a {
    color: white; }

/*# sourceMappingURL=estilo.css.map */
